In [2]:
import pandas as pd

In [52]:
df = pd.read_csv("pokemon_data.csv")
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## Reading data

In [18]:
df['Name'][5]    #Charmeleon
df['Name'][0:5]  # is eqv to 'df.Name[0:5]'

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [22]:
df[['Name','Type 1','Type 2','Generation']]

                      Name   Type 1  Type 2  Generation
0                Bulbasaur    Grass  Poison           1
1                  Ivysaur    Grass  Poison           1
2                 Venusaur    Grass  Poison           1
3    VenusaurMega Venusaur    Grass  Poison           1
4               Charmander     Fire     NaN           1
..                     ...      ...     ...         ...
795                Diancie     Rock   Fairy           6
796    DiancieMega Diancie     Rock   Fairy           6
797    HoopaHoopa Confined  Psychic   Ghost           6
798     HoopaHoopa Unbound  Psychic    Dark           6
799              Volcanion     Fire   Water           6

[800 rows x 4 columns]

In [26]:
df.columns.values

array(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype=object)

In [50]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [32]:
for index, row in df.iterrows():
    print(index,row[['Name', 'Type 1']])

0 Name      Bulbasaur
Type 1        Grass
Name: 0, dtype: object
1 Name      Ivysaur
Type 1      Grass
Name: 1, dtype: object
2 Name      Venusaur
Type 1       Grass
Name: 2, dtype: object
3 Name      VenusaurMega Venusaur
Type 1                    Grass
Name: 3, dtype: object
4 Name      Charmander
Type 1          Fire
Name: 4, dtype: object
5 Name      Charmeleon
Type 1          Fire
Name: 5, dtype: object
6 Name      Charizard
Type 1         Fire
Name: 6, dtype: object
7 Name      CharizardMega Charizard X
Type 1                         Fire
Name: 7, dtype: object
8 Name      CharizardMega Charizard Y
Type 1                         Fire
Name: 8, dtype: object
9 Name      Squirtle
Type 1       Water
Name: 9, dtype: object
10 Name      Wartortle
Type 1        Water
Name: 10, dtype: object
11 Name      Blastoise
Type 1        Water
Name: 11, dtype: object
12 Name      BlastoiseMega Blastoise
Type 1                      Water
Name: 12, dtype: object
13 Name      Caterpie
Type 1         Bug
Name: 13, dtype: object
14 Name      Metapod
Type 1        Bug
Name: 14, dtype: object
15 Name      Butterfree
Type 1           Bug
Name: 15, dtype: object
16 Name      Weedle
Type 1       Bug
Name: 16, dtype: object
17 Name      Kakuna
Type 1       Bug
Name: 17, dtype: object
18 Name      Beedrill
Type 1         Bug
Name: 18, dtype: object
19 Name      BeedrillMega Beedrill
Type 1                      Bug
Name: 19, dtype: object
20 Name      Pidgey
Type 1    Normal
Name: 20, dtype: object
21 Name      Pidgeotto
Type 1       Normal
Name: 21, dtype: object
22 Name      Pidgeot
Type 1     Normal
Name: 22, dtype: object
23 Name      PidgeotMega Pidgeot
Type 1                 Normal
Name: 23, dtype: object
24 Name      Rattata
Type 1     Normal
Name: 24, dtype: object
25 Name      Raticate
Type 1      Normal
Name: 25, dtype: object
26 Name      Spearow
Type 1     Normal
Name: 26, dtype: object
27 Name      Fearow
Type 1    Normal
Name: 27, dtype: object
28 Name       Ekans
Type 1    Poison
Name: 28, dtype: object
29 Name       Arbok
Type 1    Poison
Name: 29, dtype: object
30 Name       Pikachu
Type 1    Electric
Name: 30, dtype: object
31 Name        Raichu
Type 1    Electric
Name: 31, dtype: object
32 Name      Sandshrew
Type 1       Ground
Name: 32, dtype: object
33 Name      Sandslash
Type 1       Ground
Name: 33, dtype: object
34 Name      Nidoran (Female)
Type 1              Poison
Name: 34, dtype: object
35 Name      Nidorina
Type 1      Poison
Name: 35, dtype: object
36 Name      Nidoqueen
Type 1       Poison
Name: 36, dtype: object
37 Name      Nidoran (Male)
Type 1            Poison
Name: 37, dtype: object
38 Name      Nidorino
Type 1      Poison
Name: 38, dtype: object
39 Name      Nidoking
Type 1      Poison
Name: 39, dtype: object
40 Name      Clefairy
Type 1       Fairy
Name: 40, dtype: object
41 Name      Clefable
Type 1       Fairy
Name: 41, dtype: object
42 Name      Vulpix
Type 1      Fire
Name: 42, dtype: object
43 Name      Ninetales
Type 1         Fire
Name: 43, dtype: object
44 Name      Jigglypuff
Type 1        Normal
Name: 44, dtype: object
45 Name      Wigglytuff
Type 1        Normal
Name: 45, dtype: object
46 Name       Zubat
Type 1    Poison
Name: 46, dtype: object
47 Name      Golbat
Type 1    Poison
Name: 47, dtype: object
48 Name      Oddish
Type 1     Grass
Name: 48, dtype: object
49 Name      Gloom
Type 1    Grass
Name: 49, dtype: object
50 Name      Vileplume
Type 1        Grass
Name: 50, dtype: object
51 Name      Paras
Type 1      Bug
Name: 51, dtype: object
52 Name      Parasect
Type 1         Bug
Name: 52, dtype: object
53 Name      Venonat
Type 1        Bug
Name: 53, dtype: object
54 Name      Venomoth
Type 1         Bug
Name: 54, dtype: object
55 Name      Diglett
Type 1     Ground
Name: 55, dtype: object
56 Name      Dugtrio
Type 1     Ground
Name: 56, dtype: object
57 Name      Meowth
Type 1    Normal
Name: 57, dtype: object
58 Name      Persian
Type 1     Normal
Name: 58, dtype: object
59 Name      Psyduck
Type 1      Water
Name: 59, dtype: object
60 Name      Golduck
Type 1      Water
Name: 60, dtype: object
61 Name        Mankey
Type 1    Fighting
Name: 61, dtype: object
62 Name      Primeape
Type 1    Fighting
Name: 62, dtype: object
63 Name      Growlithe
Type 1         Fire
Name: 63, dtype: object
64 Name      Arcanine
Type 1        Fire
Name: 64, dtype: object
65 Name      Poliwag
Type 1      Water
Name: 65, dtype: object
66 Name      Poliwhirl
Type 1        Water
Name: 66, dtype: object
67 Name      Poliwrath
Type 1        Water
Name: 67, dtype: object
68 Name         Abra
Type 1    Psychic
Name: 68, dtype: object
69 Name      Kadabra
Type 1    Psychic
Name: 69, dtype: object
70 Name      Alakazam
Type 1     Psychic
Name: 70, dtype: object
71 Name      AlakazamMega Alakazam
Type 1                  Psychic
Name: 71, dtype: object
72 Name        Machop
Type 1    Fighting
Name: 72, dtype: object
73 Name       Machoke
Type 1    Fighting
Name: 73, dtype: object
74 Name       Machamp
Type 1    Fighting
Name: 74, dtype: object
75 Name      Bellsprout
Type 1         Grass
Name: 75, dtype: object
76 Name      Weepinbell
Type 1         Grass
Name: 76, dtype: object
77 Name      Victreebel
Type 1         Grass
Name: 77, dtype: object
78 Name      Tentacool
Type 1        Water
Name: 78, dtype: object
79 Name      Tentacruel
Type 1         Water
Name: 79, dtype: object
80 Name      Geodude
Type 1       Rock
Name: 80, dtype: object
81 Name      Graveler
Type 1        Rock
Name: 81, dtype: object
82 Name      Golem
Type 1     Rock
Name: 82, dtype: object
83 Name      Ponyta
Type 1      Fire
Name: 83, dtype: object
84 Name      Rapidash
Type 1        Fire
Name: 84, dtype: object
85 Name      Slowpoke
Type 1       Water
Name: 85, dtype: object
86 Name      Slowbro
Type 1      Water
Name: 86, dtype: object
87 Name      SlowbroMega Slowbro
Type 1                  Water
Name: 87, dtype: object
88 Name      Magnemite
Type 1     Electric
Name: 88, dtype: object
89 Name      Magneton
Type 1    Electric
Name: 89, dtype: object
90 Name      Farfetch'd
Type 1        Normal
Name: 90, dtype: object
91 Name       Doduo
Type 1    Normal
Name: 91, dtype: object
92 Name      Dodrio
Type 1    Normal
Name: 92, dtype: object
93 Name       Seel
Type 1    Water
Name: 93, dtype: object
94 Name      Dewgong
Type 1      Water
Name: 94, dtype: object
95 Name      Grimer
Type 1    Poison
Name: 95, dtype: object
96 Name         Muk
Type 1    Poison
Name: 96, dtype: object
97 Name      Shellder
Type 1       Water
Name: 97, dtype: object
98 Name      Cloyster
Type 1       Water
Name: 98, dtype: object
99 Name      Gastly
Type 1     Ghost
Name: 99, dtype: object
100 Name      Haunter
Type 1      Ghost
Name: 100, dtype: object
101 Name      Gengar
Type 1     Ghost
Name: 101, dtype: object
102 Name      GengarMega Gengar
Type 1                Ghost
Name: 102, dtype: object
103 Name      Onix
Type 1    Rock
Name: 103, dtype: object
104 Name      Drowzee
Type 1    Psychic
Name: 104, dtype: object
105 Name        Hypno
Type 1    Psychic
Name: 105, dtype: object
106 Name      Krabby
Type 1     Water
Name: 106, dtype: object
107 Name      Kingler
Type 1      Water
Name: 107, dtype: object
108 Name       Voltorb
Type 1    Electric
Name: 108, dtype: object
109 Name      Electrode
Type 1     Electric
Name: 109, dtype: object
110 Name      Exeggcute
Type 1        Grass
Name: 110, dtype: object
111 Name      Exeggutor
Type 1        Grass
Name: 111, dtype: object
112 Name      Cubone
Type 1    Ground
Name: 112, dtype: object
113 Name      Marowak
Type 1     Ground
Name: 113, dtype: object
114 Name      Hitmonlee
Type 1     Fighting
Name: 114, dtype: object
115 Name      Hitmonchan
Type 1      Fighting
Name: 115, dtype: object
116 Name      Lickitung
Type 1       Normal
Name: 116, dtype: object
117 Name      Koffing
Type 1     Poison
Name: 117, dtype: object
118 Name      Weezing
Type 1     Poison
Name: 118, dtype: object
119 Name      Rhyhorn
Type 1     Ground
Name: 119, dtype: object
120 Name      Rhydon
Type 1    Ground
Name: 120, dtype: object
121 Name      Chansey
Type 1     Normal
Name: 121, dtype: object
122 Name      Tangela
Type 1      Grass
Name: 122, dtype: object
123 Name      Kangaskhan
Type 1        Normal
Name: 123, dtype: object
124 Name      KangaskhanMega Kangaskhan
Type 1                       Normal
Name: 124, dtype: object
125 Name      Horsea
Type 1     Water
Name: 125, dtype: object
126 Name      Seadra
Type 1     Water
Name: 126, dtype: object
127 Name      Goldeen
Type 1      Water
Name: 127, dtype: object
128 Name      Seaking
Type 1      Water
Name: 128, dtype: object
129 Name      Staryu
Type 1     Water
Name: 129, dtype: object
130 Name      Starmie
Type 1      Water
Name: 130, dtype: object
131 Name      Mr. Mime
Type 1     Psychic
Name: 131, dtype: object
132 Name      Scyther
Type 1        Bug
Name: 132, dtype: object
133 Name      Jynx
Type 1     Ice
Name: 133, dtype: object
134 Name      Electabuzz
Type 1      Electric
Name: 134, dtype: object
135 Name      Magmar
Type 1      Fire
Name: 135, dtype: object
136 Name      Pinsir
Type 1       Bug
Name: 136, dtype: object
137 Name      PinsirMega Pinsir
Type 1                  Bug
Name: 137, dtype: object
138 Name      Tauros
Type 1    Normal
Name: 138, dtype: object
139 Name      Magikarp
Type 1       Water
Name: 139, dtype: object
140 Name      Gyarados
Type 1       Water
Name: 140, dtype: object
141 Name      GyaradosMega Gyarados
Type 1                    Water
Name: 141, dtype: object
142 Name      Lapras
Type 1     Water
Name: 142, dtype: object
143 Name       Ditto
Type 1    Normal
Name: 143, dtype: object
144 Name       Eevee
Type 1    Normal
Name: 144, dtype: object
145 Name      Vaporeon
Type 1       Water

Name: 145, dtype: object
146 Name       Jolteon
Type 1    Electric
Name: 146, dtype: object
147 Name      Flareon
Type 1       Fire
Name: 147, dtype: object
148 Name      Porygon
Type 1     Normal
Name: 148, dtype: object
149 Name      Omanyte
Type 1       Rock
Name: 149, dtype: object
150 Name      Omastar
Type 1       Rock
Name: 150, dtype: object
151 Name      Kabuto
Type 1      Rock
Name: 151, dtype: object
152 Name      Kabutops
Type 1        Rock
Name: 152, dtype: object
153 Name      Aerodactyl
Type 1          Rock
Name: 153, dtype: object
154 Name      AerodactylMega Aerodactyl
Type 1                         Rock
Name: 154, dtype: object
155 Name      Snorlax
Type 1     Normal
Name: 155, dtype: object
156 Name      Articuno
Type 1         Ice
Name: 156, dtype: object
157 Name        Zapdos
Type 1    Electric
Name: 157, dtype: object
158 Name      Moltres
Type 1       Fire
Name: 158, dtype: object
159 Name      Dratini
Type 1     Dragon
Name: 159, dtype: object
160 Name      Dragonair
Type 1       Dragon
Name: 160, dtype: object
161 Name      Dragonite
Type 1       Dragon
Name: 161, dtype: object
162 Name       Mewtwo
Type 1    Psychic
Name: 162, dtype: object
163 Name      MewtwoMega Mewtwo X
Type 1                Psychic
Name: 163, dtype: object
164 Name      MewtwoMega Mewtwo Y
Type 1                Psychic
Name: 164, dtype: object
165 Name          Mew
Type 1    Psychic
Name: 165, dtype: object
166 Name      Chikorita
Type 1        Grass
Name: 166, dtype: object
167 Name      Bayleef
Type 1      Grass
Name: 167, dtype: object
168 Name      Meganium
Type 1       Grass
Name: 168, dtype: object
169 Name      Cyndaquil
Type 1         Fire
Name: 169, dtype: object
170 Name      Quilava
Type 1       Fire
Name: 170, dtype: object
171 Name      Typhlosion
Type 1          Fire
Name: 171, dtype: object
172 Name      Totodile
Type 1       Water
Name: 172, dtype: object
173 Name      Croconaw
Type 1       Water
Name: 173, dtype: object
174 Name      Feraligatr
Type 1         Water
Name: 174, dtype: object
175 Name      Sentret
Type 1     Normal
Name: 175, dtype: object
176 Name      Furret
Type 1    Normal
Name: 176, dtype: object
177 Name      Hoothoot
Type 1      Normal
Name: 177, dtype: object
178 Name      Noctowl
Type 1     Normal
Name: 178, dtype: object
179 Name      Ledyba
Type 1       Bug
Name: 179, dtype: object
180 Name      Ledian
Type 1       Bug
Name: 180, dtype: object
181 Name      Spinarak
Type 1         Bug
Name: 181, dtype: object
182 Name      Ariados
Type 1        Bug
Name: 182, dtype: object
183 Name      Crobat
Type 1    Poison
Name: 183, dtype: object
184 Name      Chinchou
Type 1       Water
Name: 184, dtype: object
185 Name      Lanturn
Type 1      Water
Name: 185, dtype: object
186 Name         Pichu
Type 1    Electric
Name: 186, dtype: object
187 Name      Cleffa
Type 1     Fairy
Name: 187, dtype: object
188 Name      Igglybuff
Type 1       Normal
Name: 188, dtype: object
189 Name      Togepi
Type 1     Fairy
Name: 189, dtype: object
190 Name      Togetic
Type 1      Fairy
Name: 190, dtype: object
191 Name         Natu
Type 1    Psychic
Name: 191, dtype: object
192 Name         Xatu
Type 1    Psychic
Name: 192, dtype: object
193 Name        Mareep
Type 1    Electric
Name: 193, dtype: object
194 Name       Flaaffy
Type 1    Electric
Name: 194, dtype: object
195 Name      Ampharos
Type 1    Electric
Name: 195, dtype: object
196 Name      AmpharosMega Ampharos
Type 1                 Electric
Name: 196, dtype: object
197 Name      Bellossom
Type 1        Grass
Name: 197, dtype: object
198 Name      Marill
Type 1     Water
Name: 198, dtype: object
199 Name      Azumarill
Type 1        Water
Name: 199, dtype: object
200 Name      Sudowoodo
Type 1         Rock
Name: 200, dtype: object
201 Name      Politoed
Type 1       Water
Name: 201, dtype: object
202 Name      Hoppip
Type 1     Grass
Name: 202, dtype: object
203 Name      Skiploom
Type 1       Grass
Name: 203, dtype: object
204 Name      Jumpluff
Type 1       Grass
Name: 204, dtype: object
205 Name       Aipom
Type 1    Normal
Name: 205, dtype: object
206 Name      Sunkern
Type 1      Grass
Name: 206, dtype: object
207 Name      Sunflora
Type 1       Grass
Name: 207, dtype: object
208 Name      Yanma
Type 1      Bug
Name: 208, dtype: object
209 Name      Wooper
Type 1     Water
Name: 209, dtype: object
210 Name      Quagsire
Type 1       Water
Name: 210, dtype: object
211 Name       Espeon
Type 1    Psychic
Name: 211, dtype: object
212 Name      Umbreon
Type 1       Dark
Name: 212, dtype: object
213 Name      Murkrow
Type 1       Dark
Name: 213, dtype: object
214 Name      Slowking
Type 1       Water
Name: 214, dtype: object
215 Name      Misdreavus
Type 1         Ghost
Name: 215, dtype: object
216 Name        Unown
Type 1    Psychic
Name: 216, dtype: object
217 Name      Wobbuffet
Type 1      Psychic
Name: 217, dtype: object
218 Name      Girafarig
Type 1       Normal
Name: 218, dtype: object
219 Name      Pineco
Type 1       Bug
Name: 219, dtype: object
220 Name      Forretress
Type 1           Bug
Name: 220, dtype: object
221 Name      Dunsparce
Type 1       Normal
Name: 221, dtype: object
222 Name      Gligar
Type 1    Ground
Name: 222, dtype: object
223 Name      Steelix
Type 1      Steel
Name: 223, dtype: object
224 Name      SteelixMega Steelix
Type 1                  Steel
Name: 224, dtype: object
225 Name      Snubbull
Type 1       Fairy
Name: 225, dtype: object
226 Name      Granbull
Type 1       Fairy
Name: 226, dtype: object
227 Name      Qwilfish
Type 1       Water
Name: 227, dtype: object
228 Name      Scizor
Type 1       Bug
Name: 228, dtype: object
229 Name      ScizorMega Scizor
Type 1                  Bug
Name: 229, dtype: object
230 Name      Shuckle
Type 1        Bug
Name: 230, dtype: object
231 Name      Heracross
Type 1          Bug
Name: 231, dtype: object
232 Name      HeracrossMega Heracross
Type 1                        Bug
Name: 232, dtype: object
233 Name      Sneasel
Type 1       Dark
Name: 233, dtype: object
234 Name      Teddiursa
Type 1       Normal
Name: 234, dtype: object
235 Name      Ursaring
Type 1      Normal
Name: 235, dtype: object
236 Name      Slugma
Type 1      Fire
Name: 236, dtype: object
237 Name      Magcargo
Type 1        Fire
Name: 237, dtype: object
238 Name      Swinub
Type 1       Ice
Name: 238, dtype: object
239 Name      Piloswine
Type 1          Ice
Name: 239, dtype: object
240 Name      Corsola
Type 1      Water
Name: 240, dtype: object
241 Name      Remoraid
Type 1       Water
Name: 241, dtype: object
242 Name      Octillery
Type 1        Water
Name: 242, dtype: object
243 Name      Delibird
Type 1         Ice
Name: 243, dtype: object
244 Name      Mantine
Type 1      Water
Name: 244, dtype: object
245 Name      Skarmory
Type 1       Steel
Name: 245, dtype: object
246 Name      Houndour
Type 1        Dark
Name: 246, dtype: object
247 Name      Houndoom
Type 1        Dark
Name: 247, dtype: object
248 Name      HoundoomMega Houndoom
Type 1                     Dark
Name: 248, dtype: object
249 Name      Kingdra
Type 1      Water
Name: 249, dtype: object
250 Name      Phanpy
Type 1    Ground
Name: 250, dtype: object
251 Name      Donphan
Type 1     Ground
Name: 251, dtype: object
252 Name      Porygon2
Type 1      Normal
Name: 252, dtype: object
253 Name      Stantler
Type 1      Normal
Name: 253, dtype: object
254 Name      Smeargle
Type 1      Normal
Name: 254, dtype: object
255 Name       Tyrogue
Type 1    Fighting
Name: 255, dtype: object
256 Name      Hitmontop
Type 1     Fighting
Name: 256, dtype: object
257 Name      Smoochum
Type 1         Ice
Name: 257, dtype: object
258 Name        Elekid
Type 1    Electric
Name: 258, dtype: object
259 Name      Magby
Type 1     Fire
Name: 259, dtype: object
260 Name      Miltank
Type 1     Normal
Name: 260, dtype: object
261 Name      Blissey
Type 1     Normal
Name: 261, dtype: object
262 Name        Raikou
Type 1    Electric
Name: 262, dtype: object
263 Name      Entei
Type 1     Fire
Name: 263, dtype: object
264 Name      Suicune
Type 1      Water
Name: 264, dtype: object
265 Name      Larvitar
Type 1        Rock
Name: 265, dtype: object
266 Name      Pupitar
Type 1       Rock
Name: 266, dtype: object
267 Name      Tyranitar
Type 1         Rock
Name: 267, dtype: object
268 Name      TyranitarMega Tyranitar
Type 1                       Rock
Name: 268, dtype: object
269 Name        Lugia
Type 1    Psychic
Name: 269, dtype: object
270 Name      Ho-oh
Type 1     Fire
Name: 270, dtype: object
271 Name       Celebi
Type 1    Psychic
Name: 271, dtype: object
272 Name      Treecko
Type 1      Grass
Name: 272, dtype: object
273 Name      Grovyle
Type 1      Grass
Name: 273, dtype: object
274 Name      Sceptile
Type 1       Grass
Name: 274, dtype: object
275 Name      SceptileMega Sceptile
Type 1                    Grass
Name: 275, dtype: object
276 Name      Torchic
Type 1       Fire
Name: 276, dtype: object
277 Name      Combusken
Type 1         Fire
Name: 277, dtype: object
278 Name      Blaziken
Type 1        Fire
Name: 278, dtype: object
279 Name      BlazikenMega Blaziken
Type 1                     Fire
Name: 279, dtype: object
280 Name      Mudkip
Type 1     Water
Name: 280, dtype: object
281 Name      Marshtomp
Type 1        Water
Name: 281, dtype: object
282 Name      Swampert
Type 1       Water
Name: 282, dtype: object
283 Name      SwampertMega Swampert
Type 1                    Water
Name: 283, dtype: object
284 Name      Poochyena
Type 1         Dark
Name: 284, dtype: object
285 Name      Mightyena
Type 1         Dark
Name: 285, dtype: object
286 Name      Zigzagoon
Type 1       Normal
Name: 286, dtype: object
287 Name      Linoone
Type 1     Normal
Name: 287, dtype: object
288 Name      Wurmple
Type 1        Bug
Name: 288, dtype: object
289 Name      Silcoon
Type 1        Bug
Name: 289, dtype: object
290 Name      Beautifly
Type 1          Bug
Name: 290, dtype: object
291 Name      Cascoon
Type 1        Bug
Name: 291, dtype: object
292 Name      Dustox
Type 1       Bug
Name: 292, dtype: object
293 Name      Lotad
Type 1    Water
Name: 293, dtype: object
294 Name      Lombre
Type 1     Water
Name: 294, dtype: object
295 Name      Ludicolo
Type 1       Water
Name: 295, dtype: object
296 Name      Seedot
Type 1     Grass
Name: 296, dtype: object
297 Name      Nuzleaf
Type 1      Grass
Name: 297, dtype: object
298 Name      Shiftry
Type 1      Grass
Name: 298, dtype: object
299 Name      Taillow
Type 1     Normal
Name: 299, dtype: object
300 Name      Swellow
Type 1     Normal
Name: 300, dtype: object
301 Name      Wingull
Type 1      Water
Name: 301, dtype: object
302 Name      Pelipper
Type 1       Water
Name: 302, dtype: object
303 Name        Ralts
Type 1    Psychic
Name: 303, dtype: object
304 Name       Kirlia
Type 1    Psychic
Name: 304, dtype: object
305 Name      Gardevoir
Type 1      Psychic
Name: 305, dtype: object
306 Name      GardevoirMega Gardevoir
Type 1                    Psychic
Name: 306, dtype: object
307 Name      Surskit
Type 1        Bug
Name: 307, dtype: object
308 Name      Masquerain
Type 1           Bug
Name: 308, dtype: object
309 Name      Shroomish
Type 1        Grass
Name: 309, dtype: object
310 Name      Breloom
Type 1      Grass
Name: 310, dtype: object
311 Name      Slakoth
Type 1     Normal
Name: 311, dtype: object
312 Name      Vigoroth
Type 1      Normal
Name: 312, dtype: object
313 Name      Slaking
Type 1     Normal
Name: 313, dtype: object
314 Name      Nincada
Type 1        Bug
Name: 314, dtype: object
315 Name      Ninjask
Type 1        Bug
Name: 315, dtype: object
316 Name      Shedinja
Type 1         Bug
Name: 316, dtype: object
317 Name      Whismur
Type 1     Normal
Name: 317, dtype: object
318 Name      Loudred
Type 1     Normal
Name: 318, dtype: object
319 Name      Exploud
Type 1     Normal
Name: 319, dtype: object
320 Name      Makuhita
Type 1    Fighting
Name: 320, dtype: object
321 Name      Hariyama
Type 1    Fighting
Name: 321, dtype: object
322 Name      Azurill
Type 1     Normal
Name: 322, dtype: object

323 Name      Nosepass
Type 1        Rock
Name: 323, dtype: object
324 Name      Skitty
Type 1    Normal
Name: 324, dtype: object
325 Name      Delcatty
Type 1      Normal
Name: 325, dtype: object
326 Name      Sableye
Type 1       Dark
Name: 326, dtype: object
327 Name      SableyeMega Sableye
Type 1                   Dark
Name: 327, dtype: object
328 Name      Mawile
Type 1     Steel
Name: 328, dtype: object
329 Name      MawileMega Mawile
Type 1                Steel
Name: 329, dtype: object
330 Name       Aron
Type 1    Steel
Name: 330, dtype: object
331 Name      Lairon
Type 1     Steel
Name: 331, dtype: object
332 Name      Aggron
Type 1     Steel
Name: 332, dtype: object
333 Name      AggronMega Aggron
Type 1                Steel
Name: 333, dtype: object
334 Name      Meditite
Type 1    Fighting
Name: 334, dtype: object
335 Name      Medicham
Type 1    Fighting
Name: 335, dtype: object
336 Name      MedichamMega Medicham
Type 1                 Fighting
Name: 336, dtype: object
337 Name      Electrike
Type 1     Electric
Name: 337, dtype: object
338 Name      Manectric
Type 1     Electric
Name: 338, dtype: object
339 Name      ManectricMega Manectric
Type 1                   Electric
Name: 339, dtype: object
340 Name        Plusle
Type 1    Electric
Name: 340, dtype: object
341 Name         Minun
Type 1    Electric
Name: 341, dtype: object
342 Name      Volbeat
Type 1        Bug
Name: 342, dtype: object
343 Name      Illumise
Type 1         Bug
Name: 343, dtype: object
344 Name      Roselia
Type 1      Grass
Name: 344, dtype: object
345 Name      Gulpin
Type 1    Poison
Name: 345, dtype: object
346 Name      Swalot
Type 1    Poison
Name: 346, dtype: object
347 Name      Carvanha
Type 1       Water
Name: 347, dtype: object
348 Name      Sharpedo
Type 1       Water
Name: 348, dtype: object
349 Name      SharpedoMega Sharpedo
Type 1                    Water
Name: 349, dtype: object
350 Name      Wailmer
Type 1      Water
Name: 350, dtype: object
351 Name      Wailord
Type 1      Water
Name: 351, dtype: object
352 Name      Numel
Type 1     Fire
Name: 352, dtype: object
353 Name      Camerupt
Type 1        Fire
Name: 353, dtype: object
354 Name      CameruptMega Camerupt
Type 1                     Fire
Name: 354, dtype: object
355 Name      Torkoal
Type 1       Fire
Name: 355, dtype: object
356 Name       Spoink
Type 1    Psychic
Name: 356, dtype: object
357 Name      Grumpig
Type 1    Psychic
Name: 357, dtype: object
358 Name      Spinda
Type 1    Normal
Name: 358, dtype: object
359 Name      Trapinch
Type 1      Ground
Name: 359, dtype: object
360 Name      Vibrava
Type 1     Ground
Name: 360, dtype: object
361 Name      Flygon
Type 1    Ground
Name: 361, dtype: object
362 Name      Cacnea
Type 1     Grass
Name: 362, dtype: object
363 Name      Cacturne
Type 1       Grass
Name: 363, dtype: object
364 Name      Swablu
Type 1    Normal
Name: 364, dtype: object
365 Name      Altaria
Type 1     Dragon
Name: 365, dtype: object
366 Name      AltariaMega Altaria
Type 1                 Dragon
Name: 366, dtype: object
367 Name      Zangoose
Type 1      Normal
Name: 367, dtype: object
368 Name      Seviper
Type 1     Poison
Name: 368, dtype: object
369 Name      Lunatone
Type 1        Rock
Name: 369, dtype: object
370 Name      Solrock
Type 1       Rock
Name: 370, dtype: object
371 Name      Barboach
Type 1       Water
Name: 371, dtype: object
372 Name      Whiscash
Type 1       Water
Name: 372, dtype: object
373 Name      Corphish
Type 1       Water
Name: 373, dtype: object
374 Name      Crawdaunt
Type 1        Water
Name: 374, dtype: object
375 Name      Baltoy
Type 1    Ground
Name: 375, dtype: object
376 Name      Claydol
Type 1     Ground
Name: 376, dtype: object
377 Name      Lileep
Type 1      Rock
Name: 377, dtype: object
378 Name      Cradily
Type 1       Rock
Name: 378, dtype: object
379 Name      Anorith
Type 1       Rock
Name: 379, dtype: object
380 Name      Armaldo
Type 1       Rock
Name: 380, dtype: object
381 Name      Feebas
Type 1     Water
Name: 381, dtype: object
382 Name      Milotic
Type 1      Water
Name: 382, dtype: object
383 Name      Castform
Type 1      Normal
Name: 383, dtype: object
384 Name      Kecleon
Type 1     Normal
Name: 384, dtype: object
385 Name      Shuppet
Type 1      Ghost
Name: 385, dtype: object
386 Name      Banette
Type 1      Ghost
Name: 386, dtype: object
387 Name      BanetteMega Banette
Type 1                  Ghost
Name: 387, dtype: object
388 Name      Duskull
Type 1      Ghost
Name: 388, dtype: object
389 Name      Dusclops
Type 1       Ghost
Name: 389, dtype: object
390 Name      Tropius
Type 1      Grass
Name: 390, dtype: object
391 Name      Chimecho
Type 1     Psychic
Name: 391, dtype: object
392 Name      Absol
Type 1     Dark
Name: 392, dtype: object
393 Name      AbsolMega Absol
Type 1               Dark
Name: 393, dtype: object
394 Name       Wynaut
Type 1    Psychic
Name: 394, dtype: object
395 Name      Snorunt
Type 1        Ice
Name: 395, dtype: object
396 Name      Glalie
Type 1       Ice
Name: 396, dtype: object
397 Name      GlalieMega Glalie
Type 1                  Ice
Name: 397, dtype: object
398 Name      Spheal
Type 1       Ice
Name: 398, dtype: object
399 Name      Sealeo
Type 1       Ice
Name: 399, dtype: object
400 Name      Walrein
Type 1        Ice
Name: 400, dtype: object
401 Name      Clamperl
Type 1       Water
Name: 401, dtype: object
402 Name      Huntail
Type 1      Water
Name: 402, dtype: object
403 Name      Gorebyss
Type 1       Water
Name: 403, dtype: object
404 Name      Relicanth
Type 1        Water
Name: 404, dtype: object
405 Name      Luvdisc
Type 1      Water
Name: 405, dtype: object
406 Name       Bagon
Type 1    Dragon
Name: 406, dtype: object
407 Name      Shelgon
Type 1     Dragon
Name: 407, dtype: object
408 Name      Salamence
Type 1       Dragon
Name: 408, dtype: object
409 Name      SalamenceMega Salamence
Type 1                     Dragon
Name: 409, dtype: object
410 Name      Beldum
Type 1     Steel
Name: 410, dtype: object
411 Name      Metang
Type 1     Steel
Name: 411, dtype: object
412 Name      Metagross
Type 1        Steel
Name: 412, dtype: object
413 Name      MetagrossMega Metagross
Type 1                      Steel
Name: 413, dtype: object
414 Name      Regirock
Type 1        Rock
Name: 414, dtype: object
415 Name      Regice
Type 1       Ice
Name: 415, dtype: object
416 Name      Registeel
Type 1        Steel
Name: 416, dtype: object
417 Name      Latias
Type 1    Dragon
Name: 417, dtype: object
418 Name      LatiasMega Latias
Type 1               Dragon
Name: 418, dtype: object
419 Name      Latios
Type 1    Dragon
Name: 419, dtype: object
420 Name      LatiosMega Latios
Type 1               Dragon
Name: 420, dtype: object
421 Name      Kyogre
Type 1     Water
Name: 421, dtype: object
422 Name      KyogrePrimal Kyogre
Type 1                  Water
Name: 422, dtype: object
423 Name      Groudon
Type 1     Ground
Name: 423, dtype: object
424 Name      GroudonPrimal Groudon
Type 1                   Ground
Name: 424, dtype: object
425 Name      Rayquaza
Type 1      Dragon
Name: 425, dtype: object
426 Name      RayquazaMega Rayquaza
Type 1                   Dragon
Name: 426, dtype: object
427 Name      Jirachi
Type 1      Steel
Name: 427, dtype: object
428 Name      DeoxysNormal Forme
Type 1               Psychic
Name: 428, dtype: object
429 Name      DeoxysAttack Forme
Type 1               Psychic
Name: 429, dtype: object
430 Name      DeoxysDefense Forme
Type 1                Psychic
Name: 430, dtype: object
431 Name      DeoxysSpeed Forme
Type 1              Psychic
Name: 431, dtype: object
432 Name      Turtwig
Type 1      Grass
Name: 432, dtype: object
433 Name      Grotle
Type 1     Grass
Name: 433, dtype: object
434 Name      Torterra
Type 1       Grass
Name: 434, dtype: object
435 Name      Chimchar
Type 1        Fire
Name: 435, dtype: object
436 Name      Monferno
Type 1        Fire
Name: 436, dtype: object
437 Name      Infernape
Type 1         Fire
Name: 437, dtype: object
438 Name      Piplup
Type 1     Water
Name: 438, dtype: object
439 Name      Prinplup
Type 1       Water
Name: 439, dtype: object
440 Name      Empoleon
Type 1       Water
Name: 440, dtype: object
441 Name      Starly
Type 1    Normal
Name: 441, dtype: object
442 Name      Staravia
Type 1      Normal
Name: 442, dtype: object
443 Name      Staraptor
Type 1       Normal
Name: 443, dtype: object
444 Name      Bidoof
Type 1    Normal
Name: 444, dtype: object
445 Name      Bibarel
Type 1     Normal
Name: 445, dtype: object
446 Name      Kricketot
Type 1          Bug
Name: 446, dtype: object
447 Name      Kricketune
Type 1           Bug
Name: 447, dtype: object
448 Name         Shinx
Type 1    Electric
Name: 448, dtype: object
449 Name         Luxio
Type 1    Electric
Name: 449, dtype: object
450 Name        Luxray
Type 1    Electric
Name: 450, dtype: object
451 Name      Budew
Type 1    Grass
Name: 451, dtype: object
452 Name      Roserade
Type 1       Grass
Name: 452, dtype: object
453 Name      Cranidos
Type 1        Rock
Name: 453, dtype: object
454 Name      Rampardos
Type 1         Rock
Name: 454, dtype: object
455 Name      Shieldon
Type 1        Rock
Name: 455, dtype: object
456 Name      Bastiodon
Type 1         Rock
Name: 456, dtype: object
457 Name      Burmy
Type 1      Bug
Name: 457, dtype: object
458 Name      WormadamPlant Cloak
Type 1                    Bug
Name: 458, dtype: object
459 Name      WormadamSandy Cloak
Type 1                    Bug
Name: 459, dtype: object
460 Name      WormadamTrash Cloak
Type 1                    Bug
Name: 460, dtype: object
461 Name      Mothim
Type 1       Bug
Name: 461, dtype: object
462 Name      Combee
Type 1       Bug
Name: 462, dtype: object
463 Name      Vespiquen
Type 1          Bug
Name: 463, dtype: object
464 Name      Pachirisu
Type 1     Electric
Name: 464, dtype: object
465 Name      Buizel
Type 1     Water
Name: 465, dtype: object
466 Name      Floatzel
Type 1       Water
Name: 466, dtype: object
467 Name      Cherubi
Type 1      Grass
Name: 467, dtype: object
468 Name      Cherrim
Type 1      Grass
Name: 468, dtype: object
469 Name      Shellos
Type 1      Water
Name: 469, dtype: object
470 Name      Gastrodon
Type 1        Water
Name: 470, dtype: object
471 Name      Ambipom
Type 1     Normal
Name: 471, dtype: object
472 Name      Drifloon
Type 1       Ghost
Name: 472, dtype: object
473 Name      Drifblim
Type 1       Ghost
Name: 473, dtype: object
474 Name      Buneary
Type 1     Normal
Name: 474, dtype: object
475 Name      Lopunny
Type 1     Normal
Name: 475, dtype: object
476 Name      LopunnyMega Lopunny
Type 1                 Normal
Name: 476, dtype: object
477 Name      Mismagius
Type 1        Ghost
Name: 477, dtype: object
478 Name      Honchkrow
Type 1         Dark
Name: 478, dtype: object
479 Name      Glameow
Type 1     Normal
Name: 479, dtype: object
480 Name      Purugly
Type 1     Normal
Name: 480, dtype: object
481 Name      Chingling
Type 1      Psychic
Name: 481, dtype: object
482 Name      Stunky
Type 1    Poison
Name: 482, dtype: object
483 Name      Skuntank
Type 1      Poison
Name: 483, dtype: object
484 Name      Bronzor
Type 1      Steel
Name: 484, dtype: object
485 Name      Bronzong
Type 1       Steel
Name: 485, dtype: object
486 Name      Bonsly
Type 1      Rock
Name: 486, dtype: object
487 Name      Mime Jr.
Type 1     Psychic
Name: 487, dtype: object
488 Name      Happiny
Type 1     Normal
Name: 488, dtype: object
489 Name      Chatot
Type 1    Normal
Name: 489, dtype: object
490 Name      Spiritomb
Type 1        Ghost
Name: 490, dtype: object
491 Name       Gible
Type 1    Dragon
Name: 491, dtype: object
492 Name      Gabite
Type 1    Dragon
Name: 492, dtype: object
493 Name      Garchomp
Type 1      Dragon
Name: 493, dtype: object
494 Name      GarchompMega Garchomp
Type 1                   Dragon
Name: 494, dtype: object
495 Name      Munchlax
Type 1      Normal
Name: 495, dtype: object
496 Name         Riolu
Type 1    Fighting
Name: 496, dtype: object
497 Name       Lucario
Type 1    Fighting
Name: 497, dtype: object
498 Name      LucarioMega Lucario
Type 1               Fighting
Name: 498, dtype: object
499 Name      Hippopotas
Type 1        Ground
Name: 499, dtype: object
500 Name      Hippowdon
Type 1       Ground
Name: 500, dtype: object

501 Name      Skorupi
Type 1     Poison
Name: 501, dtype: object
502 Name      Drapion
Type 1     Poison
Name: 502, dtype: object
503 Name      Croagunk
Type 1      Poison
Name: 503, dtype: object
504 Name      Toxicroak
Type 1       Poison
Name: 504, dtype: object
505 Name      Carnivine
Type 1        Grass
Name: 505, dtype: object
506 Name      Finneon
Type 1      Water
Name: 506, dtype: object
507 Name      Lumineon
Type 1       Water
Name: 507, dtype: object
508 Name      Mantyke
Type 1      Water
Name: 508, dtype: object
509 Name      Snover
Type 1     Grass
Name: 509, dtype: object
510 Name      Abomasnow
Type 1        Grass
Name: 510, dtype: object
511 Name      AbomasnowMega Abomasnow
Type 1                      Grass
Name: 511, dtype: object
512 Name      Weavile
Type 1       Dark
Name: 512, dtype: object
513 Name      Magnezone
Type 1     Electric
Name: 513, dtype: object
514 Name      Lickilicky
Type 1        Normal
Name: 514, dtype: object
515 Name      Rhyperior
Type 1       Ground
Name: 515, dtype: object
516 Name      Tangrowth
Type 1        Grass
Name: 516, dtype: object
517 Name      Electivire
Type 1      Electric
Name: 517, dtype: object
518 Name      Magmortar
Type 1         Fire
Name: 518, dtype: object
519 Name      Togekiss
Type 1       Fairy
Name: 519, dtype: object
520 Name      Yanmega
Type 1        Bug
Name: 520, dtype: object
521 Name      Leafeon
Type 1      Grass
Name: 521, dtype: object
522 Name      Glaceon
Type 1        Ice
Name: 522, dtype: object
523 Name      Gliscor
Type 1     Ground
Name: 523, dtype: object
524 Name      Mamoswine
Type 1          Ice
Name: 524, dtype: object
525 Name      Porygon-Z
Type 1       Normal
Name: 525, dtype: object
526 Name      Gallade
Type 1    Psychic
Name: 526, dtype: object
527 Name      GalladeMega Gallade
Type 1                Psychic
Name: 527, dtype: object
528 Name      Probopass
Type 1         Rock
Name: 528, dtype: object
529 Name      Dusknoir
Type 1       Ghost
Name: 529, dtype: object
530 Name      Froslass
Type 1         Ice
Name: 530, dtype: object
531 Name         Rotom
Type 1    Electric
Name: 531, dtype: object
532 Name      RotomHeat Rotom
Type 1           Electric
Name: 532, dtype: object
533 Name      RotomWash Rotom
Type 1           Electric
Name: 533, dtype: object
534 Name      RotomFrost Rotom
Type 1            Electric
Name: 534, dtype: object
535 Name      RotomFan Rotom
Type 1          Electric
Name: 535, dtype: object
536 Name      RotomMow Rotom
Type 1          Electric
Name: 536, dtype: object
537 Name         Uxie
Type 1    Psychic
Name: 537, dtype: object
538 Name      Mesprit
Type 1    Psychic
Name: 538, dtype: object
539 Name        Azelf
Type 1    Psychic
Name: 539, dtype: object
540 Name      Dialga
Type 1     Steel
Name: 540, dtype: object
541 Name      Palkia
Type 1     Water
Name: 541, dtype: object
542 Name      Heatran
Type 1       Fire
Name: 542, dtype: object
543 Name      Regigigas
Type 1       Normal
Name: 543, dtype: object
544 Name      GiratinaAltered Forme
Type 1                    Ghost
Name: 544, dtype: object
545 Name      GiratinaOrigin Forme
Type 1                   Ghost
Name: 545, dtype: object
546 Name      Cresselia
Type 1      Psychic
Name: 546, dtype: object
547 Name      Phione
Type 1     Water
Name: 547, dtype: object
548 Name      Manaphy
Type 1      Water
Name: 548, dtype: object
549 Name      Darkrai
Type 1       Dark
Name: 549, dtype: object
550 Name      ShayminLand Forme
Type 1                Grass
Name: 550, dtype: object
551 Name      ShayminSky Forme
Type 1               Grass
Name: 551, dtype: object
552 Name      Arceus
Type 1    Normal
Name: 552, dtype: object
553 Name      Victini
Type 1    Psychic
Name: 553, dtype: object
554 Name      Snivy
Type 1    Grass
Name: 554, dtype: object
555 Name      Servine
Type 1      Grass
Name: 555, dtype: object
556 Name      Serperior
Type 1        Grass
Name: 556, dtype: object
557 Name      Tepig
Type 1     Fire
Name: 557, dtype: object
558 Name      Pignite
Type 1       Fire
Name: 558, dtype: object
559 Name      Emboar
Type 1      Fire
Name: 559, dtype: object
560 Name      Oshawott
Type 1       Water
Name: 560, dtype: object
561 Name      Dewott
Type 1     Water
Name: 561, dtype: object
562 Name      Samurott
Type 1       Water
Name: 562, dtype: object
563 Name      Patrat
Type 1    Normal
Name: 563, dtype: object
564 Name      Watchog
Type 1     Normal
Name: 564, dtype: object
565 Name      Lillipup
Type 1      Normal
Name: 565, dtype: object
566 Name      Herdier
Type 1     Normal
Name: 566, dtype: object
567 Name      Stoutland
Type 1       Normal
Name: 567, dtype: object
568 Name      Purrloin
Type 1        Dark
Name: 568, dtype: object
569 Name      Liepard
Type 1       Dark
Name: 569, dtype: object
570 Name      Pansage
Type 1      Grass
Name: 570, dtype: object
571 Name      Simisage
Type 1       Grass
Name: 571, dtype: object
572 Name      Pansear
Type 1       Fire
Name: 572, dtype: object
573 Name      Simisear
Type 1        Fire
Name: 573, dtype: object
574 Name      Panpour
Type 1      Water
Name: 574, dtype: object
575 Name      Simipour
Type 1       Water
Name: 575, dtype: object
576 Name        Munna
Type 1    Psychic
Name: 576, dtype: object
577 Name      Musharna
Type 1     Psychic
Name: 577, dtype: object
578 Name      Pidove
Type 1    Normal
Name: 578, dtype: object
579 Name      Tranquill
Type 1       Normal
Name: 579, dtype: object
580 Name      Unfezant
Type 1      Normal
Name: 580, dtype: object
581 Name       Blitzle
Type 1    Electric
Name: 581, dtype: object
582 Name      Zebstrika
Type 1     Electric
Name: 582, dtype: object
583 Name      Roggenrola
Type 1          Rock
Name: 583, dtype: object
584 Name      Boldore
Type 1       Rock
Name: 584, dtype: object
585 Name      Gigalith
Type 1        Rock
Name: 585, dtype: object
586 Name       Woobat
Type 1    Psychic
Name: 586, dtype: object
587 Name      Swoobat
Type 1    Psychic
Name: 587, dtype: object
588 Name      Drilbur
Type 1     Ground
Name: 588, dtype: object
589 Name      Excadrill
Type 1       Ground
Name: 589, dtype: object
590 Name      Audino
Type 1    Normal
Name: 590, dtype: object
591 Name      AudinoMega Audino
Type 1               Normal
Name: 591, dtype: object
592 Name       Timburr
Type 1    Fighting
Name: 592, dtype: object
593 Name       Gurdurr
Type 1    Fighting
Name: 593, dtype: object
594 Name      Conkeldurr
Type 1      Fighting
Name: 594, dtype: object
595 Name      Tympole
Type 1      Water
Name: 595, dtype: object
596 Name      Palpitoad
Type 1        Water
Name: 596, dtype: object
597 Name      Seismitoad
Type 1         Water
Name: 597, dtype: object
598 Name         Throh
Type 1    Fighting
Name: 598, dtype: object
599 Name          Sawk
Type 1    Fighting
Name: 599, dtype: object
600 Name      Sewaddle
Type 1         Bug
Name: 600, dtype: object
601 Name      Swadloon
Type 1         Bug
Name: 601, dtype: object
602 Name      Leavanny
Type 1         Bug
Name: 602, dtype: object
603 Name      Venipede
Type 1         Bug
Name: 603, dtype: object
604 Name      Whirlipede
Type 1           Bug
Name: 604, dtype: object
605 Name      Scolipede
Type 1          Bug
Name: 605, dtype: object
606 Name      Cottonee
Type 1       Grass
Name: 606, dtype: object
607 Name      Whimsicott
Type 1         Grass
Name: 607, dtype: object
608 Name      Petilil
Type 1      Grass
Name: 608, dtype: object
609 Name      Lilligant
Type 1        Grass
Name: 609, dtype: object
610 Name      Basculin
Type 1       Water
Name: 610, dtype: object
611 Name      Sandile
Type 1     Ground
Name: 611, dtype: object
612 Name      Krokorok
Type 1      Ground
Name: 612, dtype: object
613 Name      Krookodile
Type 1        Ground
Name: 613, dtype: object
614 Name      Darumaka
Type 1        Fire
Name: 614, dtype: object
615 Name      DarmanitanStandard Mode
Type 1                       Fire
Name: 615, dtype: object
616 Name      DarmanitanZen Mode
Type 1                  Fire
Name: 616, dtype: object
617 Name      Maractus
Type 1       Grass
Name: 617, dtype: object
618 Name      Dwebble
Type 1        Bug
Name: 618, dtype: object
619 Name      Crustle
Type 1        Bug
Name: 619, dtype: object
620 Name      Scraggy
Type 1       Dark
Name: 620, dtype: object
621 Name      Scrafty
Type 1       Dark
Name: 621, dtype: object
622 Name      Sigilyph
Type 1     Psychic
Name: 622, dtype: object
623 Name      Yamask
Type 1     Ghost
Name: 623, dtype: object
624 Name      Cofagrigus
Type 1         Ghost
Name: 624, dtype: object
625 Name      Tirtouga
Type 1       Water
Name: 625, dtype: object
626 Name      Carracosta
Type 1         Water
Name: 626, dtype: object
627 Name      Archen
Type 1      Rock
Name: 627, dtype: object
628 Name      Archeops
Type 1        Rock
Name: 628, dtype: object
629 Name      Trubbish
Type 1      Poison
Name: 629, dtype: object
630 Name      Garbodor
Type 1      Poison
Name: 630, dtype: object
631 Name      Zorua
Type 1     Dark
Name: 631, dtype: object
632 Name      Zoroark
Type 1       Dark
Name: 632, dtype: object
633 Name      Minccino
Type 1      Normal
Name: 633, dtype: object
634 Name      Cinccino
Type 1      Normal
Name: 634, dtype: object
635 Name      Gothita
Type 1    Psychic
Name: 635, dtype: object
636 Name      Gothorita
Type 1      Psychic
Name: 636, dtype: object
637 Name      Gothitelle
Type 1       Psychic
Name: 637, dtype: object
638 Name      Solosis
Type 1    Psychic
Name: 638, dtype: object
639 Name      Duosion
Type 1    Psychic
Name: 639, dtype: object
640 Name      Reuniclus
Type 1      Psychic
Name: 640, dtype: object
641 Name      Ducklett
Type 1       Water
Name: 641, dtype: object
642 Name      Swanna
Type 1     Water
Name: 642, dtype: object
643 Name      Vanillite
Type 1          Ice
Name: 643, dtype: object
644 Name      Vanillish
Type 1          Ice
Name: 644, dtype: object
645 Name      Vanilluxe
Type 1          Ice
Name: 645, dtype: object
646 Name      Deerling
Type 1      Normal
Name: 646, dtype: object
647 Name      Sawsbuck
Type 1      Normal
Name: 647, dtype: object
648 Name        Emolga
Type 1    Electric
Name: 648, dtype: object
649 Name      Karrablast
Type 1           Bug
Name: 649, dtype: object
650 Name      Escavalier
Type 1           Bug
Name: 650, dtype: object
651 Name      Foongus
Type 1      Grass
Name: 651, dtype: object
652 Name      Amoonguss
Type 1        Grass
Name: 652, dtype: object
653 Name      Frillish
Type 1       Water
Name: 653, dtype: object
654 Name      Jellicent
Type 1        Water
Name: 654, dtype: object
655 Name      Alomomola
Type 1        Water
Name: 655, dtype: object
656 Name      Joltik
Type 1       Bug
Name: 656, dtype: object
657 Name      Galvantula
Type 1           Bug
Name: 657, dtype: object
658 Name      Ferroseed
Type 1        Grass
Name: 658, dtype: object
659 Name      Ferrothorn
Type 1         Grass
Name: 659, dtype: object
660 Name      Klink
Type 1    Steel
Name: 660, dtype: object
661 Name      Klang
Type 1    Steel
Name: 661, dtype: object
662 Name      Klinklang
Type 1        Steel
Name: 662, dtype: object
663 Name        Tynamo
Type 1    Electric
Name: 663, dtype: object
664 Name      Eelektrik
Type 1     Electric
Name: 664, dtype: object
665 Name      Eelektross
Type 1      Electric
Name: 665, dtype: object
666 Name       Elgyem
Type 1    Psychic
Name: 666, dtype: object
667 Name      Beheeyem
Type 1     Psychic
Name: 667, dtype: object
668 Name      Litwick
Type 1      Ghost
Name: 668, dtype: object
669 Name      Lampent
Type 1      Ghost
Name: 669, dtype: object
670 Name      Chandelure
Type 1         Ghost
Name: 670, dtype: object
671 Name        Axew
Type 1    Dragon
Name: 671, dtype: object
672 Name      Fraxure
Type 1     Dragon
Name: 672, dtype: object
673 Name      Haxorus
Type 1     Dragon
Name: 673, dtype: object
674 Name      Cubchoo
Type 1        Ice
Name: 674, dtype: object
675 Name      Beartic
Type 1        Ice
Name: 675, dtype: object
676 Name      Cryogonal
Type 1          Ice
Name: 676, dtype: object
677 Name      Shelmet
Type 1        Bug
Name: 677, dtype: object
678 Name      Accelgor
Type 1         Bug
Name: 678, dtype: object
679 Name      Stunfisk
Type 1      Ground
Name: 679, dtype: object
680 Name       Mienfoo
Type 1    Fighting
Name: 680, dtype: object

681 Name      Mienshao
Type 1    Fighting
Name: 681, dtype: object
682 Name      Druddigon
Type 1       Dragon
Name: 682, dtype: object
683 Name      Golett
Type 1    Ground
Name: 683, dtype: object
684 Name      Golurk
Type 1    Ground
Name: 684, dtype: object
685 Name      Pawniard
Type 1        Dark
Name: 685, dtype: object
686 Name      Bisharp
Type 1       Dark
Name: 686, dtype: object
687 Name      Bouffalant
Type 1        Normal
Name: 687, dtype: object
688 Name      Rufflet
Type 1     Normal
Name: 688, dtype: object
689 Name      Braviary
Type 1      Normal
Name: 689, dtype: object
690 Name      Vullaby
Type 1       Dark
Name: 690, dtype: object
691 Name      Mandibuzz
Type 1         Dark
Name: 691, dtype: object
692 Name      Heatmor
Type 1       Fire
Name: 692, dtype: object
693 Name      Durant
Type 1       Bug
Name: 693, dtype: object
694 Name      Deino
Type 1     Dark
Name: 694, dtype: object
695 Name      Zweilous
Type 1        Dark
Name: 695, dtype: object
696 Name      Hydreigon
Type 1         Dark
Name: 696, dtype: object
697 Name      Larvesta
Type 1         Bug
Name: 697, dtype: object
698 Name      Volcarona
Type 1          Bug
Name: 698, dtype: object
699 Name      Cobalion
Type 1       Steel
Name: 699, dtype: object
700 Name      Terrakion
Type 1         Rock
Name: 700, dtype: object
701 Name      Virizion
Type 1       Grass
Name: 701, dtype: object
702 Name      TornadusIncarnate Forme
Type 1                     Flying
Name: 702, dtype: object
703 Name      TornadusTherian Forme
Type 1                   Flying
Name: 703, dtype: object
704 Name      ThundurusIncarnate Forme
Type 1                    Electric
Name: 704, dtype: object
705 Name      ThundurusTherian Forme
Type 1                  Electric
Name: 705, dtype: object
706 Name      Reshiram
Type 1      Dragon
Name: 706, dtype: object
707 Name      Zekrom
Type 1    Dragon
Name: 707, dtype: object
708 Name      LandorusIncarnate Forme
Type 1                     Ground
Name: 708, dtype: object
709 Name      LandorusTherian Forme
Type 1                   Ground
Name: 709, dtype: object
710 Name      Kyurem
Type 1    Dragon
Name: 710, dtype: object
711 Name      KyuremBlack Kyurem
Type 1                Dragon
Name: 711, dtype: object
712 Name      KyuremWhite Kyurem
Type 1                Dragon
Name: 712, dtype: object
713 Name      KeldeoOrdinary Forme
Type 1                   Water
Name: 713, dtype: object
714 Name      KeldeoResolute Forme
Type 1                   Water
Name: 714, dtype: object
715 Name      MeloettaAria Forme
Type 1                Normal
Name: 715, dtype: object
716 Name      MeloettaPirouette Forme
Type 1                     Normal
Name: 716, dtype: object
717 Name      Genesect
Type 1         Bug
Name: 717, dtype: object
718 Name      Chespin
Type 1      Grass
Name: 718, dtype: object
719 Name      Quilladin
Type 1        Grass
Name: 719, dtype: object
720 Name      Chesnaught
Type 1         Grass
Name: 720, dtype: object
721 Name      Fennekin
Type 1        Fire
Name: 721, dtype: object
722 Name      Braixen
Type 1       Fire
Name: 722, dtype: object
723 Name      Delphox
Type 1       Fire
Name: 723, dtype: object
724 Name      Froakie
Type 1      Water
Name: 724, dtype: object
725 Name      Frogadier
Type 1        Water
Name: 725, dtype: object
726 Name      Greninja
Type 1       Water
Name: 726, dtype: object
727 Name      Bunnelby
Type 1      Normal
Name: 727, dtype: object
728 Name      Diggersby
Type 1       Normal
Name: 728, dtype: object
729 Name      Fletchling
Type 1        Normal
Name: 729, dtype: object
730 Name      Fletchinder
Type 1           Fire
Name: 730, dtype: object
731 Name      Talonflame
Type 1          Fire
Name: 731, dtype: object
732 Name      Scatterbug
Type 1           Bug
Name: 732, dtype: object
733 Name      Spewpa
Type 1       Bug
Name: 733, dtype: object
734 Name      Vivillon
Type 1         Bug
Name: 734, dtype: object
735 Name      Litleo
Type 1      Fire
Name: 735, dtype: object
736 Name      Pyroar
Type 1      Fire
Name: 736, dtype: object
737 Name      FlabÃ©bÃ©
Type 1      Fairy
Name: 737, dtype: object
738 Name      Floette
Type 1      Fairy
Name: 738, dtype: object
739 Name      Florges
Type 1      Fairy
Name: 739, dtype: object
740 Name      Skiddo
Type 1     Grass
Name: 740, dtype: object
741 Name      Gogoat
Type 1     Grass
Name: 741, dtype: object
742 Name       Pancham
Type 1    Fighting
Name: 742, dtype: object
743 Name       Pangoro
Type 1    Fighting
Name: 743, dtype: object
744 Name      Furfrou
Type 1     Normal
Name: 744, dtype: object
745 Name       Espurr
Type 1    Psychic
Name: 745, dtype: object
746 Name      MeowsticMale
Type 1         Psychic
Name: 746, dtype: object
747 Name      MeowsticFemale
Type 1           Psychic
Name: 747, dtype: object
748 Name      Honedge
Type 1      Steel
Name: 748, dtype: object
749 Name      Doublade
Type 1       Steel
Name: 749, dtype: object
750 Name      AegislashBlade Forme
Type 1                   Steel
Name: 750, dtype: object
751 Name      AegislashShield Forme
Type 1                    Steel
Name: 751, dtype: object
752 Name      Spritzee
Type 1       Fairy
Name: 752, dtype: object
753 Name      Aromatisse
Type 1         Fairy
Name: 753, dtype: object
754 Name      Swirlix
Type 1      Fairy
Name: 754, dtype: object
755 Name      Slurpuff
Type 1       Fairy
Name: 755, dtype: object
756 Name      Inkay
Type 1     Dark
Name: 756, dtype: object
757 Name      Malamar
Type 1       Dark
Name: 757, dtype: object
758 Name      Binacle
Type 1       Rock
Name: 758, dtype: object
759 Name      Barbaracle
Type 1          Rock
Name: 759, dtype: object
760 Name      Skrelp
Type 1    Poison
Name: 760, dtype: object
761 Name      Dragalge
Type 1      Poison
Name: 761, dtype: object
762 Name      Clauncher
Type 1        Water
Name: 762, dtype: object
763 Name      Clawitzer
Type 1        Water
Name: 763, dtype: object
764 Name      Helioptile
Type 1      Electric
Name: 764, dtype: object
765 Name      Heliolisk
Type 1     Electric
Name: 765, dtype: object
766 Name      Tyrunt
Type 1      Rock
Name: 766, dtype: object
767 Name      Tyrantrum
Type 1         Rock
Name: 767, dtype: object
768 Name      Amaura
Type 1      Rock
Name: 768, dtype: object
769 Name      Aurorus
Type 1       Rock
Name: 769, dtype: object
770 Name      Sylveon
Type 1      Fairy
Name: 770, dtype: object
771 Name      Hawlucha
Type 1    Fighting
Name: 771, dtype: object
772 Name       Dedenne
Type 1    Electric
Name: 772, dtype: object
773 Name      Carbink
Type 1       Rock
Name: 773, dtype: object
774 Name       Goomy
Type 1    Dragon
Name: 774, dtype: object
775 Name      Sliggoo
Type 1     Dragon
Name: 775, dtype: object
776 Name      Goodra
Type 1    Dragon
Name: 776, dtype: object
777 Name      Klefki
Type 1     Steel
Name: 777, dtype: object
778 Name      Phantump
Type 1       Ghost
Name: 778, dtype: object
779 Name      Trevenant
Type 1        Ghost
Name: 779, dtype: object
780 Name      PumpkabooAverage Size
Type 1                    Ghost
Name: 780, dtype: object
781 Name      PumpkabooSmall Size
Type 1                  Ghost
Name: 781, dtype: object
782 Name      PumpkabooLarge Size
Type 1                  Ghost
Name: 782, dtype: object
783 Name      PumpkabooSuper Size
Type 1                  Ghost
Name: 783, dtype: object
784 Name      GourgeistAverage Size
Type 1                    Ghost
Name: 784, dtype: object
785 Name      GourgeistSmall Size
Type 1                  Ghost
Name: 785, dtype: object
786 Name      GourgeistLarge Size
Type 1                  Ghost
Name: 786, dtype: object
787 Name      GourgeistSuper Size
Type 1                  Ghost
Name: 787, dtype: object
788 Name      Bergmite
Type 1         Ice
Name: 788, dtype: object
789 Name      Avalugg
Type 1        Ice
Name: 789, dtype: object
790 Name      Noibat
Type 1    Flying
Name: 790, dtype: object
791 Name      Noivern
Type 1     Flying
Name: 791, dtype: object
792 Name      Xerneas
Type 1      Fairy
Name: 792, dtype: object
793 Name      Yveltal
Type 1       Dark
Name: 793, dtype: object
794 Name      Zygarde50% Forme
Type 1              Dragon
Name: 794, dtype: object
795 Name      Diancie
Type 1       Rock
Name: 795, dtype: object
796 Name      DiancieMega Diancie
Type 1                   Rock
Name: 796, dtype: object
797 Name      HoopaHoopa Confined
Type 1                Psychic
Name: 797, dtype: object
798 Name      HoopaHoopa Unbound
Type 1               Psychic
Name: 798, dtype: object
799 Name      Volcanion
Type 1         Fire
Name: 799, dtype: object

### iloc:

In [71]:
df.iloc[3]       # values at index 3
df.iloc[3,:]     # values at index 3
df.iloc[3:6]     # from 3rd row to 5th row
df.iloc[3,1]     # at 3rd row, 1st column : VenusaurMega Venusaur
df.iloc[3:5,4:]
df.iloc[:,4:10]
df.iloc[[2,5],[4,6,8]]  # only index 2,5 and column num: 4,6,8

   HP  Defense  Sp. Def
2  80       83      100
5  58       58       65

In [72]:
df.iloc[3,4]==30

False

### loc:

In [69]:
df.loc[0]        # same as df.iloc[3]
df.loc[3,:]      # same as df.iloc[3,:] or df.loc[3]
df.loc[0:3]      # same as df.iloc[0:3]
#df.loc[:,3:6] ------- not same as df.iloc[:,3:6]
#df.loc[3,1] --------- not same as df.iloc[3,1]
#df.loc[0:3,4:7] ----- not same as df.iloc[0:3,4:7]
#df.loc[0:3,4:] ------ not same as df.iloc[0:3,4:]

df.loc[0,'Type 1']                     # at row_label: 0, column_label: Type 1
df.loc[0:3, ['Type 1','HP','Attack']]  # from row_label 0-3 and selected column label
df.loc[0:3, 'Type 1':]                 # from row_label 0-3 and from column_label 'Type 1' to last
df.loc[0:3, 'Type 1':'Defense']        # from row_label 0-3 and from column_label 'Type 1' to 'Defense'
df.loc[[0,1,4], ['Type 1','Defense']]  # only row_labels 0,1,4 and column_label 'Type 1','Defense' --- eqv to iloc

  Type 1  Defense
0  Grass       49
1  Grass       63
4   Fire       43

In [80]:
df.loc[[2,5],['HP']]==30      # boolean result for row: 2,5 for column_label: HP, its False here
df.loc[2:5,['HP']]==30        # boolean result from row_label: 2-5 for column_label: HP, its False here
#df.loc['Name']=='Charmander' ---- won't work
df.loc[4]=='Charmander'       # boolean check for row_label:4 and all column at that index with 'Charmander'

#             False
Name           True
Type 1        False
Type 2        False
HP            False
Attack        False
Defense       False
Sp. Atk       False
Sp. Def       False
Speed         False
Generation    False
Legendary     False
Name: 4, dtype: bool

In [57]:
# Difference between df.loc[...] AND df.loc[df[..]<condition>] is that: 
#        former is boolean check AND latter is display

df.loc[df['HP']<60]                # data display with HPless than 60
#df.loc[df['HP','Attack']<80]      # data display with HPless than 60 (not working)
df.loc[df['Type 1']=='Grass']      # data display with Type 1 has only Grass
df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison') & (df['Defense']>60)]   # multiple conditions with loc

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

## Changing data:

In [53]:
df['Total'] = df['HP'] + df['Attack'] + df['Speed']
df = df.drop(columns=['Total'])

df['Total'] = df.iloc[:,[4,5,6,9]].sum(axis=1)
df = df.drop(columns=['Total'])

cols = list(df.columns)                     # cols = df.columns NOT cols = list(df.columns)
df_modified = df[cols[4:7] + [cols[9]]]     # it's concatenation, not addition
df_modified.head()

   HP  Attack  Defense  Speed
0  45      49       49     45
1  60      62       63     60
2  80      82       83     80
3  80     100      123     80
4  39      52       43     65